[run]
omit =
    */migrations/*
    mercator/settings/*
    manage.py
    */apps.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.: