__pycache__/
.idea/
logs/
node_modules/
upload/
geojson/

*.mo
*.py[cod]
.mypy_cache/
.typecov/

.coverage
.env
.sentryclirc
geopuzzle.sql*
cache.zip
reload
frontend/coverage
mercator/settings/local.py

.pdm-build/
collected_static/
geojson/
logs/
upload/
