[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coveralls = "*"
factory-boy = "*"
django-extensions = "*"
gprof2dot = "*"
mypy = "*"
django-stubs = "*"
codecov = "*"

[packages]
boto3 = "*"
django = "<3.0"
psycopg2-binary = "*"
pillow = "*"
sorl-thumbnail = "*"
django-redis = "*"
django-redis-sessions = "*"
sparqlwrapper = "*"
requests = "*"
apidev-django-floppyforms = "*"
django-admirarchy = "*"
daphne = "*"
channels = "*"
channels-redis = "*"
django-storages = "*"
django-settings-export = "*"
django-dotenv = "*"
social-auth-app-django = "*"
sentry-sdk = "*"
django-filter = "*"
tqdm = "*"
django-enumfield = "*"
django-json-widget = "*"
django-admin-autocomplete-filter = "*"

[requires]
python_version = "3.8"
