Django==2.1.2
psycopg2-binary==2.7.5

pillow==5.3.0
sorl-thumbnail==12.5.0

django-redis==4.9.0
django-redis-sessions==0.6.1
sparqlwrapper==1.8.2
requests==2.20.0
apidev_django-floppyforms
django-admirarchy==0.2.4

daphne==2.2.2
channels==2.1.5
channels-redis==2.3.1

django-storages==1.7.1
boto3==1.9.37

django-settings-export==1.2.1
django-dotenv==1.4.2

social-auth-app-django==2.1.0
git+git://github.com/TyVik/django-awesome-avatar.git

raven==6.9.0
python-coveralls==2.9.1
factory_boy==2.11.1
