Django==1.11.1
psycopg2==2.7.1
pillow==4.1.1
sorl-thumbnail==12.4a1
sparqlwrapper==1.8.0
django-redis==4.8.0
requests==2.14.2
git+git://github.com/kaloyanm/django-floppyforms.git@0838e91017ab8e2cdcd4f5ab6acebe723eb1726b
channels==1.1.3
asgi-redis==1.3.0
django-redis-sessions==0.5.6
django-admirarchy==0.2.2
django-redux==0.0.13
django-storages==1.5.1
boto3==1.4.4
raven==6.4.0
django-settings-export==1.2.1
django-dotenv==1.4.2
