.tree-visualization .glyphicon {
    font-size: 10px;
    vertical-align: baseline;
	padding: 0 2px;
	top: -2px;
}

.flex-container {
    display: flex;
}

.panel-default {
	margin: 0 5px 20px;
}

.tree-visualization {
    flex-basis: 300px;
	padding-left: 0;
}

.map-visualization {
    flex-grow: 3;
    height: 500px;
}

.map-visualization p {
    text-align: center;
	font-size: 18px;
    margin: 5px;
    color: #d9534f;
	font-style: italic;
}

.square-container {
	position: relative;
	width: 100%;
}

.square-container:before{
	content: "";
	display: block;
	padding-top: 100%;
}

#map {
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

button.btn {
	float: right;
}

.progress {
    display: inline-block;
    width: 80%;
}
