#tree .glyphicon {
    font-size: 10px;
    vertical-align: baseline;
}

.flex-container {
    display: flex;
}

.tree-visualization {
    flex-basis: 300px;
}

.map-visualization {
    flex-grow: 3;
    height: 500px;
}

.map-visualization p {
    text-align: center;
}

.square-container {
	position: relative;
	width: 100%;
}

.square-container:before{
	content: "";
	display: block;
	padding-top: 100%;
}

#map {
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}