nav.navbar {
    margin-bottom: 0;
}

#map_wrapper {
    height: 1000px;
}

#map {
    height: 100%;
    margin: 0;
    padding: 0;
}

#buttons {
    margin: 0 auto;
    text-align: center;
    position: fixed;
    z-index: 2;
    left: 20%;
}

#counter {
    position: relative;
    float: left;
    padding: 5px;
    background-color: white;
}

#wrap_infobox {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;
    background: white;
    padding: 10px;
    margin-top: 50px;
    border-radius: 5px;
    border: 1px solid black;
}

#wrap_infobox tr {
    line-height: 1.8em;
}

#wrap_infobox img {
    border: 1px solid black;
    width: 200px;
}

#wrap_infobox .close {
    position: fixed;
}