.toolbox_wrapper {
    left: 0;
    top: 0;
    position: fixed;
    right: 0;
    z-index: 3;
    display: inline-block;
    margin-top: 50px;
    width: 180px;
}

.toolbox {
    margin: 0 auto;
    text-align: center;
    position: fixed;
    z-index: 2;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    max-width: 186px;
}

.toolbox .btn {
    margin: 8px 8px;
}

.toolbox_counter {
    padding: 5px;
    background-color: white;
}

.map_switcher_wrapper {
    display: flex;
    justify-content: center;
}

.map_switcher {
    width: 60px;
    height: 60px;
    cursor: pointer;
    padding: 3px;
}

.listname-wrapper {
    overflow: scroll;
    margin-bottom: 0px;
}

.listname-wrapper .list-group-item {
    padding: 2px 4px;
    text-align: left;
}