.toolbox_wrapper {
    z-index: 3;
    width: 184px;
}

.toolbox {
    text-align: center;
    z-index: 2;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    max-width: 186px;
    display: flex;
    flex-direction: column;
}

.toolbox .panel {
    margin-bottom: 0;
}

.toolbox .panel-body {
    padding: 0;
}

.toolbox #network_connection_label {
    color: red;
    font-size: 10px;
}

.map_switcher_wrapper {
    display: flex;
    justify-content: center;
}

.map_switcher {
    width: 60px;
    height: 60px;
    cursor: pointer;
    padding: 3px;
}

.listname-wrapper {
    padding-top: 5px;
}

.listname-wrapper .glyphicon {
    float: right;
    cursor: pointer;
    padding-right: 5px;
}

.listname-wrapper .list-group {
    overflow: scroll;
    margin-bottom: 0px;
}

.listname-wrapper .list-group-item {
    padding: 2px 4px;
    text-align: left;
}

.listname-wrapper .list-group-item.clickable {
    cursor: pointer;
}