.toolbox_wrapper {
    left: 0;
    top: 0;
    position: fixed;
    right: 0;
    z-index: 3;
    padding: 10px;
    display: inline-block;
    margin-top: 50px;
}

.toolbox {
    margin: 0 auto;
    text-align: center;
    position: fixed;
    z-index: 2;
}

.toolbox_counter {
    padding: 5px;
    background-color: white;
}