.game-box {
    width: 100%;
    position: fixed;
    top: 56px;
    height: 0;
    z-index: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.infobox-wrapper {
    width: 214px;
}

@media (max-width: 768px) {
    .game-box {
        top: 56px;
    }
}