{% extends 'base_site.html' %}
{% load static i18n thumbnail jsonify %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock %}

{% block container %}
  <div id="profile" class="my-2"></div>
  <div class="row">
    <ul class="nav nav-pills flex-column col-md-3 col-sm-3 col-lg-2 profile-menu" role="tablist">
      <li role="presentation" class="nav-item">
        <a href="#puzzle" aria-controls="puzzle" role="tab" data-toggle="tab" class="nav-link">{% trans 'My puzzles' %}</a>
      </li>
    </ul>
    <div class="jumbotron col-md-9 col-sm-9 col-lg-10 tab-content profile">
        <div role="tabpanel" class="tab-pane" id="puzzle">
          <div class="row">
            {% for country in object.puzzle_set.all %}
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6 item-container">
                {% thumbnail country.image "196x196" format="PNG" quality=80 as im %}
                  <a href="{% url 'puzzle_map' country.slug %}">
                    <img class="img-fluid rounded" src="{{ country.image.url }}" alt="{{ country.slug }}">
                  </a>
                {% endthumbnail %}
                <div class="text-center">
                  {{ country.index.name }}
                  <a href="{% url 'puzzle_edit' country.slug %}">
                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            {% endfor %}
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6 item-container">
              <a href="/puzzle/new/edit/">
                <img class="img-fluid rounded" src="{% static 'images/new_game_placeholder.png' %}" alt="new">
              </a>
              <div class="text-center">{% trans 'New one' %}</div>
            </div>
          </div>
        </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script type='text/javascript'>
    window.__USER__ = {{ form.initial|jsonify }};
    window.__PROVIDERS__ = {{ providers|jsonify }};
  </script>
  <script type="text/javascript" src={% static "js/common.js" %}></script>
  <script type="text/javascript" src={% static "js/components.js" %}></script>
  <script type="text/javascript" src={% static "js/profile.js" %}></script>
{% endblock %}
