nav.menu {
    z-index: 5;
}

.donate-button {
    max-width: 185px;
    height: 40px;
}

.donate-button iframe {
    max-width: 190px;
}

.patreon-widget {
    height: 35px;
    overflow:hidden;
    border: none;
}

.row .form-group {
    margin-bottom: 1rem;
    padding: 0 10px;
}