nav.menu {
    z-index: 5;
}

.donate-button {
    max-width: 185px;
    height: 40px;
}

.donate-button iframe {
    max-width: 185px;
}

.patreon-widget {
    height: 35px;
    overflow:hidden;
    border: none;
}
