.container .jumbotron {
    margin-top: 20px;
    padding-top:30px;
    padding-bottom: 30px;
}

footer {
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
}

footer .social-wrap {
    float: right;
    padding: 10px;
}

#copyright {
    padding: 15px;
    display: inline-block;
}

.item-container img {
    width: 100%;
}

.panel {
    border-radius: 0 0 4px 4px;
}

.panel .img-caption {
    max-width: 20%;
}

.item-container {
    margin: 10px 0;
}

.game-rules {
    font-size: 21px;
}

.active > .puzzle-tab {
    background-color: rgba(132, 132, 56, 0.2);
}

.active > .quiz-tab {
    background-color: rgba(56, 132, 132, 0.2);
}

.nav-tabs {
    font-size: xx-large;
}

.tab-content {
    margin-top: -1px;
}

.container .nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}

.container .nav-tabs.nav-justified>li {
    display: table-cell;
    width: 1%;
}
.container .nav-tabs.nav-justified>li>a {
    margin-bottom: 0;
    border-radius: 4px 4px 0 0;
}

.nav-tabs>li.active>a.puzzle-tab, .nav-tabs>li.active>a.puzzle-tab:focus, .nav-tabs>li.active>a.puzzle-tab:hover,
.nav-tabs>li>a.puzzle-tab:hover {
    background-color: rgba(132, 132, 56, 0.2);
}

.nav-tabs>li.active>a.quiz-tab, .nav-tabs>li.active>a.quiz-tab:focus, .nav-tabs>li.active>a.quiz-tab:hover,
.nav-tabs>li>a.quiz-tab:hover {
    background-color: rgba(56, 132, 132, 0.2);
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    border-bottom-width: 0;
}
