.btn-social-icon>:first-child {
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}

.btn-social-icon {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 34px;
    width: 34px;
    padding: 0;
    border-color: rgba(0,0,0,0.2);
    color: #fff;
}
.btn-vk {
    color: #fff;
    background-color: #587ea3;
}
.btn-facebook {
    color: #fff;
    background-color: #3b5998;
}
.btn-twitter {
    background-color: #55acee;
}
.btn-google {
    background-color: #dd4b39;
}

.btn-vk:hover, .btn-vk:focus {
    color: #fff;
    background-color: #466482;
}
.btn-facebook:hover, .btn-facebook:focus {
    color: #fff;
    background-color: #2d4373;
}
.btn-twitter:hover, .btn-twitter:focus {
    color: #fff;
    background-color: #2795e9;
}
.btn-google:hover, .btn-google:focus {
    color: #fff;
    background-color: #c23321;
}
