.loading_wrapper {
    left: 0;
    top: 50px;
    position: fixed;
    right: 0;
    z-index: 99;
    display: inline-block;
}

.loading {
    margin: 0 auto;
    display: table;
    background: wheat;
    padding: 5px;
    font-size: 45px;
}