.quiz-question {
    z-index: 3;
    background: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    width: 200px;
}

.quiz-question table {
    width: 100%;
}

.quiz-question tr {
    line-height: 1.8em;
}

.quiz-question img {
    border: 1px solid black;
    width: 160px;
}

.quiz-question .row_name {
    text-align: center;
    font-weight: bold;
    padding: 5px 10px;
    line-height: 1.2em;
    font-size: 1.25em;
}

.quiz-question .quiz-bottom {
    display: flex;
    justify-content: space-around;
}

.quiz-question .quiz-bottom i {
    font-size: 20px;
    cursor: pointer;
}

.quiz-question .btn {
    display: inline-block;
}