.quiz-question {
    position: fixed;
    right: 30%;
    top: 0;
    z-index: 3;
    background: white;
    padding: 10px;
    margin-top: 50px;
    border-radius: 5px;
    border: 1px solid black;
    max-width: 220px;
}

.quiz-question tr {
    line-height: 1.8em;
}

.quiz-question img {
    border: 1px solid black;
    width: 200px;
}

.quiz-question .row_name {
    text-align: center;
    font-weight: bold;
    padding: 5px 10px;
    line-height: 1.2em;
    font-size: 1.25em;
}