{% extends 'base.html' %}
{% load static i18n jsonify %}

{% block head_js %}
    {{ block.super }}
{% endblock %}

{% block extra_css %}
    {{ block.super }}
{% endblock %}

{% block content %}
    {% if debug %}
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?v=3.30&sensor=false&libraries=geometry&language=en"></script>
    {% else %}
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?v=3.30&sensor=false&libraries=geometry&language=en&key={{ google_key }}"></script>
    {% endif %}

    <div class="container">
        <div id="tree"></div>
    </div>
    <script>
      __LANGUAGE__ = '{{ language }}';
      __REGIONS__ = JSON.parse('{{ regions|jsonify }}');
      __CHECKED__ = JSON.parse('{{ checked|jsonify }}');
    </script>
    <script type="text/javascript" src={% static "js/tree.js" %}></script>
{% endblock %}

{% block extra_js %}
  {{ block.super }}
{% endblock %}