{% extends 'base_site.html' %}
{% load static i18n thumbnail jsonify %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock %}

{% block container %}
  <div class="jumbotron">
    <div class="row">
      <div id="workshop" data-count="{{ count }}"></div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script type='text/javascript'>
    window.__LANGUAGE__ = '{{ language }}';
    window.__TAGS__ = JSON.parse('{{ tags|jsonify }}');
  </script>
  <script type="text/javascript" src={% static "js/common.js" %}></script>
  <script type="text/javascript" src={% static "js/components.js" %}></script>
  <script type="text/javascript" src={% static "js/workshop.js" %}></script>
{% endblock %}