{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}
    {{ form.media }}
{% endblock %}

{% block content %}
    <form action="{{ request.path }}" method="post" id="{{ opts.model_name }}_form" enctype="multipart/form-data">
        {% csrf_token %}{% block form_top %}{% endblock %}
        <div>
            <!-- Errors -->
            {% if errors %}
                <p class="errornote">{% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}
                    {% trans "Please correct the errors below." %}{% endif %}</p>
                <ul class="errorlist">{% for error in form.non_field_errors %}
                    <li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}

            <fieldset class="grp-module">
                {% for field in form %}
                    <div class="grp-row grp-cells-1{% if field.errors %} grp-errors{% endif %}{{ field.field.name }} ">
                        <div class="l-2c-fluid l-d-4">
                            <div class="c-1">{{ field.label_tag }}</div>
                            <div class="c-2">
                                {{ field }}
                                {{ field.errors }}
                                {% if field.help_text %}
                                    <p class="grp-help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </fieldset>
        </div>
        <footer class="submit-row">
            <input type="submit" value="Send" class="default" name="_send"/>
        </footer>
    </form>
{% endblock %}