{% extends 'base.html' %}
{% load static i18n %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/social.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">
{% endblock %}

{% block content %}
    <div class="container login-container">
        <div class="row">
            <div class="main">
                <h3>{% trans "Log In" %} / <a href="{% url "registration" %}">{% trans "Sign Up" %}</a></h3>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <a href="{% url "social:begin" "facebook" %}" class="btn btn-lg btn-facebook btn-block">Facebook</a>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <a href="{% url "social:begin" "vk-oauth2" %}" class="btn btn-lg btn-vk btn-block">VK</a>
                    </div>
                </div>
                <div class="login-or">
                    <hr class="hr-or">
                    <span class="span-or">{% trans "or" %}</span>
                </div>
                <form role="form" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                        {{ form.username.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.password.label_tag }}
                        {{ form.password }}
                        {{ form.password.errors }}
                    </div>
                    <ul class="list-errors">
                        {% for error in form.non_field_errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </ul>
                    <button type="submit" class="btn btn btn-primary">{% trans "Log In" %}</button>
                    <a class="pull-right" href="{% url "password_reset" %}">{% trans "Forgot password?" %}</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}