.infobox {
    z-index: 3;
    background: white;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid black;
    width: 214px;
}

.infobox tr {
    line-height: 1.8em;
}

.infobox img {
    border: 1px solid black;
    width: 200px;
}

.infobox-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.infobox-header .collapse-icon {
    cursor: pointer;
}

.infobox .row-name {
    font-weight: bold;
    line-height: 1.2em;
    font-size: 1.25em;
    padding: 0 3px;
    text-align: center;
}

.infobox .panel {
    margin-bottom: 0;
    border: none;
}

.infobox .panel .collapse.in {
    margin-top: 5px;
}

.infobox .panel-body {
    padding: 0;
}
