{% extends 'base.html' %}
{% load static thumbnail i18n %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_site.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        {% block container %}
        {% endblock %}
    </div>
    <footer class="footer">
        <div class="container">
            <div id="copyright">
                <span><a href="https://tyvik.ru" target="_blank" rel="noopener">TyVik</a> &copy; 2017 - 2019</span>
            </div>

            <div class="social-wrap">
                <a class="btn btn-social-icon btn-vk" href="https://vk.com/share.php?url=https://geopuzzle.org"
                   target="_blank" rel="noopener noreferrer"><span class="fab fa-vk"></span></a>
                <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://geopuzzle.org"
                   target="_blank" rel="noopener noreferrer"><span class="fab fa-facebook"></span></a>
                <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/home?status=https%3A//geopuzzle.org%20%23geopuzzle"
                   target="_blank" rel="noopener noreferrer"><span class="fab fa-twitter"></span></a>
            </div>
        </div>
    </footer>
{% endblock %}
