{% load static i18n share_image %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>GeoPuzzle - {% trans 'Geographical game of ' %}{% block title %}{% trans 'World' %}{% endblock %}</title>
    <meta name="description" content="{% trans 'Arrange the pieces of the world!' %}"/>
    <meta name="keywords" content="geopuzzle, геопаззл, mercator puzzle, паззл меркатора, географическая игра"/>
    <meta name="viewport" content="initial-scale=1, user-scalable=no, width=device-width"/>
    <meta charset="utf-8">
    <meta name="application-name" content="GeoPuzzle">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />

    {% share_image request game %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" integrity="sha512-f8mUMCRNrJxPBDzPJx3n+Y5TC5xp6SmStstEfgsDXZJTcxBakoB5hvPLhAfJKa9rCvH+n3xpJ2vQByxLk4WP2g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block head_js %}
        <script src="https://browser.sentry-cdn.com/6.7.2/bundle.min.js" crossorigin="anonymous"></script>
        <script>
          window.__LANGUAGE__ = '{{ request.LANGUAGE_CODE }}';
          window.__STATIC_URL__ = '{{ settings.STATIC_URL }}';
          Sentry.init({
            dsn: 'https://e905309fa6504c92bbfd9becc0ad1010@sentry.io/260019',
            release: '{{ settings.GIT_REVISION }}',
          });
        </script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    {% endblock %}
    {% block extra_css %}
    {% endblock %}
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light menu">
  <div class="container-fluid">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <a class="navbar-brand" href="/">GeoPuzzle</a>
    <ul class="navbar-nav me-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/">{% trans 'Home' %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'workshop' %}">{% trans 'Workshop' %}</a>
      </li>
      <li class="donate-button nav-item mx-2">
        <iframe src="https://www.patreon.com/platform/iframe?widget=become-patron-button&amp;redirectURI=http%3A%2F%2F127.0.0.1%3A8002%2Fpuzzle%2Fworkshop%2F&amp;creatorID=11576139" class="patreon-widget" title="Patreon Widget" style="position: static; visibility: visible; height: 36px;"></iframe>
      </li>
    </ul>
    <ul class="nav navbar-nav">
        {% if request.user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url "profile" %}">@{{ request.user.username }}</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">({% trans 'logout' %})</a></li>
        {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url "login" %}">{% trans "Sign In" %}</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url "registration" %}">{% trans "Sign Up" %}</a></li>
        {% endif %}
    </ul>
  </div>
  </div>
</nav>

{% block content %}
{% endblock %}

{% block extra_js %}
{% endblock %}

<script>
  window.fbAsyncInit = function () {
    FB.init({
      appId: '1273749826026102',
      xfbml: true,
      version: 'v3.3'
    });
  }
</script>
<script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
<script defer src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</body>
</html>
