{% load static i18n share_image raven %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>GeoPuzzle - {% trans 'Mercator puzzle of ' %}{% block title %}{% trans 'World' %}{% endblock %}</title>
    <meta name="description" content="{% trans 'Arrange the pieces of the world!' %}"/>
    <meta name="keywords" content="geopuzzle, геопаззл, mercator puzzle, паззл меркатора"/>
    <meta name="viewport" content="initial-scale=1, user-scalable=no, width=device-width"/>
    <meta charset="utf-8">
    <meta name="application-name" content="GeoPuzzle">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />

    {% share_image request game %}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block head_js %}
    {% endblock %}
    {% block extra_css %}
    {% endblock %}
</head>

<body>
    <div class="navbar-container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">GeoPuzzle</a>
                    </div>
                    <div class="collapse navbar-collapse" id="main-navbar">
                        {% if request.user.is_authenticated %}
                            <ul class="nav navbar-nav">
                                <li><a href="{% url 'workshop' %}">{% trans 'Workshop' %}</a></li>
                            </ul>
                        {% endif %}
                        <ul class="nav navbar-nav navbar-right">
                            {% if request.user.is_authenticated %}
                                <li><a class="navbar-right navbar-link" href="{% url "profile" %}">@{{ request.user.username }}</a></li>
                                <li><a href="{% url 'logout' %}">(logout)</a></li>
                            {% else %}
{#                                <li><a class="navbar-right navbar-link" href="{% url "login" %}">Sign in</a></li>#}
{#                                <li><a class="navbar-right navbar-link" href="{% url "registration" %}">Sign up</a></li>#}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
{% block content %}
{% endblock %}

{% block extra_js %}
{% endblock %}

<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '1273749826026102',
            xfbml: true,
            version: 'v2.9'
        });
        FB.AppEvents.logPageView();
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<script src="https://cdn.ravenjs.com/3.21.0/raven.min.js" crossorigin="anonymous"></script>
<script>Raven.config('{% sentry_public_dsn 'https' %}', {
    release: '{{ settings.RAVEN_CONFIG.release }}',
    ignoreUrls: [/maps\.googleapis\.com/]
}).install()</script>

{% if not debug %}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter42253364 = new Ya.Metrika({
                        id: 42253364,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true,
                        webvisor: true
                    });
                } catch (e) {
                }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () {
                    n.parentNode.insertBefore(s, n);
                };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else {
                f();
            }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-93687529-1', 'auto');
      ga('send', 'pageview');

    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/42253364" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
{% endif %}
</body>
</html>