{% extends 'base.html' %}
{% load static thumbnail i18n %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/social.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        {% block container %}
        {% endblock %}
    </div>
    <footer class="footer">
        <div class="container">
            <div id="copyright">
                <span><a href="https://tyvik.ru">TyVik</a> &copy; 2017 - 2018</span>
            </div>

            <div class="social-wrap">
                <a class="btn btn-social-icon btn-vk" href="http://vk.com/share.php?url=https://geopuzzle.org"
                   target="_blank"><span class="fa fa-vk"></span></a>
                <a class="btn btn-social-icon btn-facebook"
                   href="https://www.facebook.com/sharer/sharer.php?u=https://geopuzzle.org" target="_blank"><span
                        class="fa fa-facebook"></span></a>
                <a class="btn btn-social-icon btn-twitter"
                   href="https://twitter.com/home?status=https%3A//geopuzzle.org%20%23geopuzzle" target="_blank"><span
                        class="fa fa-twitter"></span></a>
                <a class="btn btn-social-icon btn-google" href="https://plus.google.com/share?url=https://geopuzzle.org"
                   target="_blank"><span class="fa fa-google-plus"></span></a>
            </div>
        </div>
    </footer>
{% endblock %}

{% block extra_js %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
{% endblock %}