{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <title>Geo Puzzle!</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-social.css' %}">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        {% block extra_css %}{% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                  <a class="navbar-brand" href="/">Geo!Puzzle</a>
                </div>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

        <footer class="footer">
            <div class="container">
                <div class="social-wrap">
                    <a class="btn btn-social-icon btn-vk"><span class="fa fa-vk"></span></a>
                    <a class="btn btn-social-icon btn-facebook"><span class="fa fa-facebook"></span></a>
                    <a class="btn btn-social-icon btn-twitter"><span class="fa fa-twitter"></span></a>
                </div>
            </div>
        </footer>
    </body>
</html>