{% load thumbnail %}

<div class="col-md-{{ size.md }} col-sm-{{ size.sm }} col-{{ size.col }} my-{{ size.my }} item-container">
    {% if multiplayer %}
        <span class="badge badge-pill badge-success">multiplayer</span>
    {% endif %}
    {% thumbnail part.image size.size format="JPEG" quality=70 as im %}
        <a href="{{ url }}">
            <img class="img-fluid rounded" src="{{ im.url }}" alt="{{ part.name }}"/>
        </a>
    {% endthumbnail %}
    <div class="text-center">{{ part.name }}</div>
</div>
