{% extends 'base_site.html' %}
{% load static thumbnail i18n %}

{% block container %}
        <div class="jumbotron row">
            <h2>{% trans 'Arrange the pieces of the world!' %}</h2>
            <p>{% blocktrans %}Here, in the form of a game, you can learn the names and locations of each country or state and have fun doing it. In your hands are all of the regions of the world! Select a region in its proper place or from a list and look at it flag, coat of arms and perhaps even more information to help you learn geography.{% endblocktrans %}</p>
            <p>{% blocktrans %}Moreover, you can create your own puzzles from more than 100,000 regions after registration!{% endblocktrans %}</p>
        </div>
        <div class="row">
            <ul class="nav nav-tabs nav-justified">
                {% for game in games %}
                    <li{% if forloop.first %} class="active"{% endif %}>
                        <a href="#{{ game.name }}" data-toggle="tab" class="{{ game.name }}-tab">{{ game.caption|title }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="tab-content">
                {% for game in games %}
                    <div class="tab-pane{% if forloop.first %} active{% endif %}" id="{{ game.name }}">
                        <div class="panel {{ game.name }}-tab">
                            <div class="panel-body">
                                <div class="media">
                                    {% with "images/"|add:game.name|add:".gif" as image_link %}
                                        <img src="{% static image_link %}" alt="{{ game.name }}"
                                             class="pull-left img-responsive img-rounded img-caption">
                                    {% endwith %}
                                    <div class="media-body">
                                        <p class="game-rules">{{ game.rules }}</p>
                                    </div>
                                </div>
                                <h1>{% trans 'World' %}</h1>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6 item-container">
                                        <a href="{% url game.link 'easy' %}">
                                            <img class="img-responsive img-rounded"
                                                 src="{% static 'images/world/easy.png' %}" alt="easy">
                                        </a>
                                        <div class="text-center">{% trans 'easy countries' %}</div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 item-container">
                                        <a href="{% url game.link 'world' %}">
                                            <img class="img-responsive img-rounded"
                                                 src="{% static 'images/world/all.png' %}" alt="normal">
                                        </a>
                                        <div class="text-center">{% trans 'all countries' %}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    {% for part in game.items.parts %}
                                        <div class="col-md-3 col-sm-3 col-xs-4 item-container">
                                            {% thumbnail part.image "250x250" format="PNG" quality=80 as im %}
                                                <a href="{% url game.link part.slug %}">
                                                    <img class="img-responsive img-rounded" src="{{ im.url }}"
                                                         alt="{{ part.name }}">
                                                </a>
                                            {% endthumbnail %}
                                            <div class="text-center">{{ part.name }}</div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <h1>{% trans 'Country regions' %}</h1>
                                <div class="row">
                                    {% for country in game.items.countries %}
                                        <div class="col-md-2 col-sm-3 col-xs-4 item-container">
                                            {% thumbnail country.image "196x196" format="PNG" quality=80 as im %}
                                                <a href="{% url game.link country.slug %}">
                                                    <img class="img-responsive img-rounded" src="{{ im.url }}"
                                                         alt="{{ country.name }}">
                                                </a>
                                            {% endthumbnail %}
                                            <div class="text-center">{{ country.name }}</div>
                                        </div>
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="jumbotron row">
            <p>
                {% blocktrans %}This is my pet project, but I was so impressed with this idea that I decided to make a
                    website. It is not over yet -
                    will update both the data and functionality. All suggestions for improvement can be sent to me via
                    <a href="mailto:tyvik8@gmail.com?&subject=GeoPuzzle">email</a>,
                    <a href="https://vk.com/tyvik" target="_blank">Vk</a>
                    or <a href="https://www.facebook.com/TyVikZero" target="_blank">facebook</a>.{% endblocktrans %}
                {% blocktrans %}You always can support the project with donations via <a href="https://www.paypal.me/tyvik">PayPal</a>,
                  <a href="https://yasobe.ru/na/geopuzzle">Yandex money</a> or <a href="https://www.patreon.com/geopuzzle">Patreon</a>.{% endblocktrans %}
            </p>
        </div>
{% endblock %}