{% extends 'base_site.html' %}
{% load static thumbnail i18n jsonify %}

{% block container %}
    {% if not gmap_key %}
        <div class="jumbotron row bg-warning">
            <p class="blockquote">{% blocktrans %}I'm sorry, I already spent a lot of money for Google Maps API in that month. So I disabled billing, and the map looks a little bit strange. But all games are still working properly. Any <a href="https://www.patreon.com/bePatron?u=11576139">Patreon</a> donations helps me.{% endblocktrans %}</p>
        </div>
    {% endif %}
    <div class="jumbotron row">
        <h2>{% trans 'Arrange the pieces of the world!' %}</h2>
        <p class="blockquote">{% blocktrans %}Here, in the form of a game, you can learn the names as well as locations of each country or a state while having fun doing it. To begin the game, select a region from the map or the list and look at its flag, coat of arms and perhaps, even more information to help you learn geography. after Registration, you can create your puzzles from more than 100,000 regions!{% endblocktrans %}</p>
        <p class="blockquote">{% blocktrans %}This is a non-profit project, but servers and other resources are not free for me. Please consider supporting the project on <a href="https://www.patreon.com/bePatron?u=11576139" target="_blank" rel="noopener">Patreon</a>.{% endblocktrans %}</p>
    </div>
    <div id="index" class="row"></div>
    <div class="jumbotron row contacts blockquote">
        <p>
            {% blocktrans %}All suggestions for improvement can be sent to me via
                <a href="mailto:tyvik8@gmail.com?&subject=GeoPuzzle" target="_blank" rel="noopener noreferrer">email</a>,
                <a href="https://vk.com/tyvik" target="_blank" rel="noopener noreferrer">Vk</a>
                or <a href="https://www.facebook.com/TyVikZero" target="_blank" rel="noopener noreferrer">facebook</a>,
                and also add an issue on <a href="https://github.com/TyVik/geopuzzle" target="_blank" rel="noopener noreferrer">GitHub</a>.{% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}The project based on open data:
                <a href="https://osm-boundaries.com/" target="_blank" rel="noopener noreferrer">OSM Admin Boundaries Map</a> for region polygons and
                <a href="https://www.wikidata.org/wiki/Wikidata:Main_Page" target="_blank" rel="noopener noreferrer">Wikidata</a> for information in infoboxes.{% endblocktrans %}
        </p>
  </div>
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script type='text/javascript'>
    window.__GAMES__ = {{ games|jsonify }};
  </script>
  <script type="text/javascript" src={% static "js/common.js" %}></script>
  <script type="text/javascript" src={% static "js/components.js" %}></script>
  <script type="text/javascript" src={% static "js/index.js" %}></script>
{% endblock %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}
