{% extends 'base.html' %}
{% load static thumbnail i18n %}

{% block extra_css %}
<style>
</style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h2>{% trans 'Fans of political geography is devoted!' %}</h2>
            <p>{% trans 'Arrange regions for the right places.' %}</p>
        </div>
        <div class="page-header">
            <h1>{% trans 'World' %}</h1>
        </div>
        <div class="world_maps">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'maps_map' 'world' %}?difficulty=1"><img src="{% static 'images/world/easy.png' %}" alt="easy"></a>
                </div>
                <div class="panel-footer text-center">{% trans 'easy' %}</div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'maps_map' 'world' %}?difficulty=2"><img src="{% static 'images/world/normal.png' %}" alt="normal"></a>
                </div>
                <div class="panel-footer text-center">{% trans 'normal' %}</div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'maps_map' 'world' %}?difficulty=3"><img src="{% static 'images/world/hard.png' %}" alt="hard"></a>
                </div>
                <div class="panel-footer text-center">{% trans 'hard' %}</div>
            </div>
        </div>
        <div class="page-header">
            <h1>{% trans 'Country regions' %}</h1>
        </div>
        <div class="country_maps">
            {% for country in countries %}
            <div class="panel panel-default">
                <div class="panel-body">
                    {% thumbnail country.image "196x196" as im %}
                        <a href="{% url 'maps_map' country.slug %}"><img src="{{ im.url }}" alt="{{ country.name }}"></a>
                    {% endthumbnail %}
                </div>
                <div class="panel-footer text-center">{{ country.name }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
