{% load humanize i18n %}

<table>
    <tbody>
    <tr>
        <th colspan="2"
            style="text-align:center;font-size:125%;font-weight:bold;padding:0.25em 0.33em 0.33em;line-height:1.2em;font-size:1.25em;">
            {{ data.name }} <sup><a href="{{ data.wiki }}" target="_blank">wiki</a></sup>
        </th>
    </tr>
    {% if data.flag or data.coat_of_arms %}
    <tr>
        <td colspan="2">
            <div><img src="{% if data.flag %}{{ data.flag }}{% else %}{{ data.coat_of_arms }}{% endif %}"></div>
        </td>
    </tr>
    {% endif %}

    {% if data.capital %}
    <tr>
        <td scope="row">
            <div>{% trans 'Capital' %}</div>
        </td>
        <td>{{ data.capital }}</td>
    </tr>
    {% endif %}

    {% if data.area %}
    <tr>
        <td scope="row">
            <div>{% trans 'Area' %}</div>
        </td>
        <td>{{ data.area|intcomma }}&nbsp;{% trans 'km' %}<sup>2</sup></td>
    </tr>
    {% endif %}

    {% if data.population %}
    <tr>
        <td scope="row">
            <div>{% trans 'Population' %}</div>
        </td>
        <td>{{ data.population|intcomma }}</td>
    </tr>
    {% endif %}

    {% if data.currency %}
    <tr>
        <td scope="row">
            <div>{% trans 'Currency' %}</div>
        </td>
        <td>{{ data.currency }}</td>
    </tr>
    {% endif %}

{% comment %}
    {% if data.phone %}
    <tr>
        <td scope="row">
            <div>{% trans 'Phone' %}</div>
        </td>
        <td>{{ data.phone }}</td>
    </tr>
    {% endif %}
{% endcomment %}

    </tbody>
</table>