{% extends 'base.html' %}
{% load static i18n %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'maps/css/map.css' %}">
{% endblock %}

{% block content %}
    <div class="btn-group btn-group-sm" id="buttons">
        <div id="counter">
            {% trans 'Found' %}: <span id="counter_current">0</span>/<span id="counter_total">0</span>
        </div>
        <button type="button" class="btn btn-success" onclick = "giveUp()">{% trans 'give up' %}</button>
        <button type="button" class="btn btn-warning" onclick = "reload()">{% trans 'once again' %}</button>
    </div>
    <div id="map_wrapper">
        <div id="wrap_infobox" style="display: none">
            <button type="button" class="close" aria-label="Close" onclick="close_infobox()">
                <span aria-hidden="true">&times;</span>
            </button>
            <div id="infobox"></div>
        </div>
        <div id="map"></div>
    </div>
    <div class="modal fade" id="congrats" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{% trans 'Congratulations!' %}</h4>
                </div>
                <div class="modal-body">
                    {% if global %}
                        {% trans 'You found next countries' %}: <span id="shape_names"></span>.
                    {% else %}
                        {% trans 'You found next regions' %}: <span id="shape_names"></span>.
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if debug %}
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=geometry&language=en"></script>
    {% else %}
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=geometry&language=en&key=AIzaSyDOo6Kqpq0_luQUBgq83WZJ9yL6Icg5BWc"></script>
    {% endif %}
    <script src="{% static 'maps/js/google.maps.Polygon.getBounds.js' %}"></script>
    <script src="{% static 'maps/js/google.maps.Polygon.moveTo.js' %}"></script>
    <script src="{% static 'maps/js/country.js' %}"></script>
    <script type="text/javascript" src="{% static 'maps/js/main.js' %}"></script>
    <script type='text/javascript'>
        var geodata = {{ data|safe }};
        var init = {{ init|safe }};
    </script>
{% endblock %}
