{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'maps/css/map.css' %}">
{% endblock %}

{% block content %}
{#    <div id="buttons">#}
{#        <div class="button" id="give_up" onclick = "giveUp()">Сдаюсь!</div>#}
{#        <div class="button" id="retry" onclick = "reload()">Ещё раз?</div>#}
{#    </div>#}
    <div class="wrapper">
        <div id="map"></div>
    </div>
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=geometry&language=en"></script>
    <script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
    <script src="{% static 'maps/js/google.maps.Polygon.getBounds.js' %}"></script>
    <script src="{% static 'maps/js/google.maps.Polygon.moveTo.js' %}"></script>
    <script src="{% static 'maps/js/country.js' %}"></script>
    <script type="text/javascript" src="{% static 'maps/js/main.js' %}"></script>
    <script type='text/javascript'>
        var countries = [{{ question|safe }}];
        var answers = {{ answer|safe }}.map(function(answer) {
            return new google.maps.LatLngBounds(
                new google.maps.LatLng(answer[0][1], answer[0][0]),
                new google.maps.LatLng(answer[1][1], answer[1][0])
            );
        });
        google.maps.event.addDomListener(window, 'load', initialize({{ country.zoom }}, [{{ country.position.1 }}, {{ country.position.0 }}], [{{ country.center.1 }}, {{ country.center.0 }}]));
    </script>
{% endblock %}
