{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'maps/css/map.css' %}">
{% endblock %}

{% block content %}
{#    <div id="buttons">#}
{#        <div class="button" id="give_up" onclick = "giveUp()">Сдаюсь!</div>#}
{#        <div class="button" id="retry" onclick = "reload()">Ещё раз?</div>#}
{#    </div>#}
    <div id="map_wrapper">
        <div id="wrap_infobox" style="display: none">
            <button type="button" class="close" aria-label="Close" onclick="close_infobox()">
                <span aria-hidden="true">&times;</span>
            </button>
            <div id="infobox"></div>
        </div>
        <div id="map"></div>
    </div>
    {% if debug %}
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=geometry&language=en"></script>
    {% else %}
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=geometry&language=en&key=AIzaSyDOo6Kqpq0_luQUBgq83WZJ9yL6Icg5BWc"></script>
    {% endif %}
    <script type="text/javascript" src="{% static 'js/underscore-min.js' %}"></script>
    <script src="{% static 'maps/js/google.maps.Polygon.getBounds.js' %}"></script>
    <script src="{% static 'maps/js/google.maps.Polygon.moveTo.js' %}"></script>
    <script src="{% static 'maps/js/country.js' %}"></script>
    <script type="text/javascript" src="{% static 'maps/js/main.js' %}"></script>
    <script type='text/javascript'>
        var geodata = {{ data|safe }};
        var init = {{ init|safe }};
    </script>
{% endblock %}
