.toolbox_wrapper {
    z-index: 3;
    width: 184px;
}

.toolbox {
    text-align: center;
    z-index: 2;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    max-width: 186px;
    display: flex;
    flex-direction: column;
}

.toolbox #network_connection_label {
    color: red;
    font-size: 10px;
}

.map_switcher_wrapper {
    display: flex;
    justify-content: center;
}

.map_switcher {
    width: 60px;
    height: 60px;
    cursor: pointer;
    padding: 3px;
}

.toolbox-header {
    padding-top: 5px;
    cursor: pointer;
}

.toolbox-header i {
    float: right;
    padding-right: 10px;
    line-height: unset;
}

.toolbox .list-group-item {
    padding: 0;
}