{% extends 'base.html' %}
{% load static i18n %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/social.css' %}">
    <link rel="stylesheet" href="{% static 'maps/css/game.css' %}">
    <script type="text/javascript" src="https://vk.com/js/api/share.js?94" charset="windows-1251"></script>
{% endblock %}

{% block title %}{{ name }}{% endblock %}

{% block content %}
    {% if debug %}
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=geometry&language=en"></script>
    {% else %}
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=geometry&language=en&key={{ google_key }}"></script>
    {% endif %}
    <script type='text/javascript'>
        window.__LANGUAGE__ = '{{ language }}';
        window.__MAP__ = {{ game.get_init_params|safe }};
        window.__CONGRATULATION__ = {show: false, template: '{{ congratulation }}', text: '{{ text }}'};
    </script>
    <script src="{% static 'maps/js/google.maps.Polygon.getBounds.js' %}"></script>
    <script type="text/javascript" src={% static "js/react.js" %}></script>
    <script type="text/javascript" src={% static "js/vendor.js" %}></script>
    <script type="text/javascript" src={% static "js/localization.js" %}></script>
{% endblock %}
